<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <OneID_Connector>
            <version>1.0.0</version>
        </OneID_Connector>
    </modules>
    <global>
        <helpers>
            <OneID>
                <class>OneID_Connector_Helper</class>
            </OneID>
        </helpers>
        <blocks>
          <OneID>
            <class>OneID_Connector_Block</class>
          </OneID>
          <checkout>
            <rewrite>
              <onepage_success>OneID_Connector_Block_Checkout_Onepage_Success</onepage_success>
            </rewrite>
          </checkout>
        </blocks>
        <resources>
          <oneid_connector_setup>
            <setup>
              <module>OneID_Connector</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
          </oneid_connector_setup>
          <oneid_connector_write>
            <connection>
              <use>core_write</use>
            </connection>
          </oneid_connector_write>
          <oneid_connector_read>
            <connection>
              <use>core_read</use>
            </connection>
          </oneid_connector_read>
      </resources>
    </global>
    <frontend>
        <routers>
        <OneID>
           <use>standard</use>
           <args>
               <module>OneID_Connector</module>
               <frontName>oneid</frontName>
           </args>
        </OneID>
        <checkout>
            <args>
                <modules>
                    <OneID before="Mage_Checkout">OneID_Connector</OneID>
                </modules>
            </args>
        </checkout>
        </routers>
        <layout>
            <updates>
                <oneidconnector>
                    <file>OneID.xml</file>
                </oneidconnector>
            </updates>
        </layout>
    </frontend>

    <default>
        <OneID>
            <endpoint>
                <helper_host>https://keychain.oneid.com</helper_host>
                <host>https://api.oneid.com</host>
                <api_id><![CDATA[00010001-a6ca-4ece-9d74-0f97f63fac4d]]></api_id>
                <api_key><![CDATA[xxx]]></api_key>
            </endpoint>
            <auth_purchase>
                <enabled>0</enabled>
                <auth_amount>1000</auth_amount>
            </auth_purchase>
            <oneid_authentication>
              <verified_email_required>0</verified_email_required>
            </oneid_authentication>
        </OneID>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <OneID>
                                            <title>OneId</title>
                                        </OneID>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
     </adminhtml>
</config>
